<div class="footer_xela" id="footer">
  <div class="footer-links">
    <p>Follow me on</p>
    <a href="https://www.facebook.com/jacob.qlayson" id="link-fb"  target="_blank"><i class="fa fa-facebook-square"></i>
    <a href="https://www.instagram.com/jacoblayson/?hl=en" id="link-insta" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
</div>
