.footer_xela {
  background:black;
  height: 70px;
  width: 100%;
  color:white;
  position: absolute;
bottom: 0;
  p {
    margin: 0 10px;
  }
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right:60px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 55px;
  height:55px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  padding: 13px;
  margin: 13px;
}
.footer-links a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #FFFFFF;
}


.fa-facebook-square {
  color: white;
  cursor: pointer;
  font-size: 28px;
}
#link-fb:hover {
  background: #3a5998;
  border: none;
}

.fa-instagram {
  color: white;
  cursor: pointer;
  font-size: 28px;
}

#link-insta:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
  border: none;
}
