.footer_xela {
  background:black;
  height: 60px;
  width: 100%;
  color:white;
  box-shadow: 0 -4px 6px -4px #FFFFFF;
  p {
    margin:0;
    font-family: $headers-font;
    font-size: 27px;
  }
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right:70px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 50px;
  height:50px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  padding: 12px;
  margin: 10px;
}
.footer-links a:hover {
  box-shadow: 0 0 15px #FFFFFF;
}

.fa-facebook-square {
  color: white;
  cursor: pointer;
  font-size: 22px;
}
#link-fb:hover {
  background: #3a5998;
  border: none;
}

.fa-instagram {
  color: white;
  cursor: pointer;
  font-size: 22px;
}

#link-insta:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
  border: none;
}
