.about-page {
  background-color: black;
  h1{
    margin-top:60px;
  }

  p {
    color:white;
    margin-top:20px;
  }
}

.presentation-text {
  margin: auto;
  width:65%;
}

.pic-slider {
  margin-top:60px;
}
