.about-page {
  h1{
    margin:60px 0 40px 0;
  }
  p {
    color:white;
  }
}

#about-content{
  margin: 0px auto;
  padding:40px;
}

.align-left {
  float:left;
  margin-right:20px;
}

.align-right {
  float:right;
  margin-left:20px;
}

.align-center {
  float:right;
  margin-left:0;
}


#last-pic {
  margin: 20px 0 30px 155px;
}
