#gallery-page {
  margin-bottom:60px;
  h1 {
    margin: 60px 0 40px 0;
  }
}
#photos {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           15px;
}

#photos:hover img,  #photos:hover iframe {
transform: scale(0.7);
filter: blur(4px);
}

#photos img, .vid-container iframe {
  width: 100% !important;
  height: auto !important;
  object-fit: scale-down;
  margin-bottom: 10px;
  transition: filter 0.3s linear, transform 0.6s ease-out;
}

.vid-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
}

.vid-container iframe {
  height: 100% !important;
  position: absolute;
  top:0;
  left: 0;
  border: 0;
}

#photos img:hover, #photos iframe:hover {
  transform: scale(1);
  filter: blur(0);
  margin: 40px 0px;
  cursor:pointer;
  border: 7px solid white;
  border-radius:3px;
  z-index:100;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
