<div class="container" id="contact-page">
  <h1 class="main-title page-title text-center">Contact me</h1>
  <hr class="sep">

  <div class="contact col-xs-12">
    <div class="contact-left">
      <div class="phone">
        <div class="phone-flex">
          <div class="phone-left">
            <i class="fa fa-phone"></i>
          </div>
          <div class="phone-right">
            <h6 class="sub-title-contact">Phone</h6>
          </div>
        </div>
        <p class="main-text-contact"><a href="tel:+33642225711">+33 6 42 22 57 11</a></p>
      </div>
      <hr class="sep">
      <div class="mail">
        <div class="mail-flex">
          <div class="mail-left">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="mail-right">
            <h6 class="sub-title-contact">E-mail</h6>
          </div>
        </div>
        <p><a class="main-text-contact" href="mailto:contact@lacabanedemaii.com">contact@lacabanedemaii.com</a></p>
      </div>
    </div>

    <div class="contact-right col-xs-12 col-lg-6 col-lg-offset-1">
    </div>
  </div>

</div>
