---
title: Jacob Layson Music - Events
---

<div class="container" id="events-page">
  <h1 class="text-center">Events</h1>
  <hr>
  <div id="events-content">
    <div class="gigs">
      <div class="gigs-left">
        <h2 class="text-center">Weekly Gigs</h2>
        <ul>
          <li>
            <strong><p><span><i class="fa fa-music" aria-hidden="true"></i></span>
              Every Wednesday 8PM</p></strong>
              <p class="venue">Cafe Sol <br>
                <small>Saint Lawrence Gap - Bridgetown  🇧🇧 Barbados 🇧🇧</small>
              </p>
            </li>
            <li>
              <strong><p><span><i class="fa fa-music" aria-hidden="true"></i></span>
                Every Sunday 6PM</p></strong>
                <p class="venue"> Surfer's Bay <br>
                  <small>Bridgetown  🇧🇧 Barbados 🇧🇧</small>
                </p>
              </li>
            </ul>
          </div>
      <hr>
      <div class="gigs-right">
            <h2 class="text-center">Upcoming Events</h2>
            <ul>
              <li>
                <strong><p><span><i class="fa fa-music" aria-hidden="true"></i></span>
                  Monday 1st December 2018 9PM</p></strong>
                  <p class="venue">Coppacabana <br>
                    <small>Bridgetown  🇧🇧 Barbados 🇧🇧</small>
                  </p>
                </li>
                <li>
                  <strong><p><span><i class="fa fa-music" aria-hidden="true"></i></span>
                    Saturday 12th December 2018 10PM</p></strong>
                    <p class="venue"> Sandy Lane <br>
                      <small>Bridgetown  🇧🇧 Barbados 🇧🇧</small>
                    </p>
                  </li>
                </ul>
              </div>
    </div>
    <div class="pic-section">
      <%= image_tag "guitar.png", class: "hidden-xs", width: "375" %>
      <br>
      <%= image_tag "gig.png",class:"hidden-xs",width: "375" %>
    </div>
  </div>


</div>
