---
title: Jacob Layson Music - Gallery
---

<div class="container" id="gallery-page">
  <h1 class="text-center">My pic/vid gallery</h1>
  <hr>
  <section id="photos">
    <div class="vid-container">
      <iframe  src="https://www.youtube.com/embed/FiMIQY5FDfY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <img src="../images/feat.png" alt="Jacob Layson music picture and video">
    <img src="../images/gig.png" alt="Jacob Layson music picture and video">
    <img src="../images/guitar.png" alt="Jacob Layson music picture and video">
    <img src="../images/jacob1.jpg" alt="Jacob Layson music picture and video">
    <div class="vid-container">
      <iframe  src="https://www.youtube.com/embed/6SW126L4meg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <img src="../images/jacobsurf.jpg" alt="Jacob Layson music picture and video">
    <img src="../images/jacobyoung.jpg" alt="Jacob Layson music picture and video">
    <div class="vid-container">
      <iframe  src="https://www.youtube.com/embed/Vsxpp7R-blo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </section>
</div>
