---
title: Jacob Layson Music
---
<div id="home" style="background-image: url(<%= image_path 'jacob1.jpg'%>);">
  <div class="container">
    <div class="home-content">
      <h1 class="text-center">Jacob Layson Music</h1>
      <div class="bio text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum maiores nostrum dolores corrupti, illo repellat dolor quis officiis fuga molestias sint quod optio numquam quos est! Atque praesentium, molestias.
        </p>
      </div>
      <div class="call-to-action">
        <a class="btn-contact">Contact me</a>
      </div>
    </div>
  </div>
</div>
